include bugwarrior/README.rst
include README.rst
include LICENSE.txt
recursive-include docs *
recursive-include bugwarrior/docs *.rst
recursive-include tests *
global-exclude __pycache__
global-exclude *.py[co]
