[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
click = "*"
"dogpile.cache" = "*"
future = "*"
google-api-python-client = "*"
httplib2 = "*"
idna = "*"
Jinja2 = "*"
jira = "*"
kitchen = "*"
lockfile = "*"
MarkupSafe = "*"
oauth2client = "<4"
python-dateutil = "*"
pytz = "*"
requests = "*"
six = "*"
taskw = {editable = true, ref = "develop", git = "https://github.com/ralphbean/taskw.git"}
urllib3 = "*"

[dev-packages]
mock = "*"
nose = "*"

[requires]
python_version = "3.6"
